<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>pomelo</string>
    <string>yaris</string>
    <string>honda</string>
    <string>pontiac</string>
    <string>seether</string>
    <string>atlas</string>
    <string>celtic</string>
    <string>everton</string>
    <string>malaga</string>
    <string>eagles</string>
    <string>cobreloa</string>
    <string>avalanche</string>
    <string>bulls</string>
    <string>cubs</string>
    <string>hawks</string>
    <string>jays</string>
    <string>mets</string>
    <string>patriots</string>
    <string>oilers</string>
    <string>rockies</string>
    <string>sharks</string>
    <string>vikings</string>
    <string>texans</string>
    <string>alcoa</string>
    <string>amazon</string>
    <string>hilton</string>
    <string>dell</string>
    <string>mattel</string>
    <string>intel</string>
    <string>thor</string>
    <string>armagedon</string>
    <string>nokia</string>
    <string>walgreens</string>
    <string>arm</string>
    <string>cells</string>
    <string>eyelash</string>
    <string>joint</string>
    <string>navel</string>
    <string>urethra</string>
    <string>accenture</string>
    <string>aol</string>
    <string>barilla</string>
    <string>caterpillar</string>
    <string>disney</string>
    <string>sporting</string>
    <string>exxonmobil</string>
    <string>motorola</string>
    <string>qualcomm</string>
    <string>sap</string>
    <string>siemens</string>
    <string>twitter</string>
    <string>sunderland</string>
    <string>burundi</string>
    <string>congo</string>
    <string>egypt</string>
    <string>gambia</string>
    <string>kyrgyzstan</string>
    <string>lesotho</string>
    <string>luxembourg</string>
    <string>mauritius</string>
    <string>morocco</string>
    <string>palau</string>
    <string>qatar</string>
    <string>somalia</string>
    <string>turkmenistan</string>
    <string>casablanca</string>
    <string>excalibur</string>
    <string>goodfellas</string>
    <string>spiderman</string>
    <string>swordfish</string>
    <string>rangers</string>
    <string>utrecht</string>
    <string>villareal</string>
    <string>ajax</string>
    <string>america</string>
    <string>atalanta</string>
    <string>bologna</string>
    <string>catania</string>
    <string>betis</string>
    <string>hannover</string>
    <string>fluminense</string>
    <string>independiente</string>
    <string>lazio</string>
    <string>algeria</string>
    <string>barbados</string>
    <string>bolivia</string>
    <string>guinea</string>
    <string>mali</string>
    <string>moldova</string>
    <string>senegal</string>
    <string>syria</string>
    <string>canary</string>
</array>
</plist>
