<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Dog</string>
		<string>Cat</string>
		<string>Worm</string>
		<string>Bird</string>
		<string>Peacock</string>
		<string>Serpent</string>
	</array>
	<array>
		<string>Mario</string>
		<string>Pokemon</string>
		<string>Worms</string>
		<string>Doom</string>
	</array>
	<array>
		<string>Leg</string>
		<string>Foot</string>
		<string>Hand</string>
		<string>Limb</string>
		<string>Scalp</string>
		<string>Eye</string>
		<string>Ear</string>
		<string>Lap</string>
		<string>Butt</string>
		<string>Cheek</string>
		<string>Lash</string>
	</array>
	<array>
		<string>Ferrari</string>
		<string>Porche</string>
		<string>Maserati</string>
		<string>Beetle</string>
		<string>Ka</string>
		<string>Civic</string>
		<string>Fox</string>
		<string>Corolla</string>
	</array>
	<array>
		<string>Red</string>
		<string>Blue</string>
		<string>Green</string>
		<string>Purple</string>
		<string>Grey</string>
		<string>Yellow</string>
		<string>White</string>
		<string>Orange</string>
		<string>Black</string>
		<string>Brown</string>
		<string>Pink</string>
		<string>Cyan</string>
	</array>
	<array>
		<string>USA</string>
		<string>Brazil</string>
		<string>France</string>
		<string>Canada</string>
		<string>Mexico</string>
		<string>Tunisia</string>
		<string>Netherlands</string>
		<string>Italy</string>
		<string>England</string>
		<string>Argentina</string>
		<string>Nigeria</string>
		<string>Russia</string>
		<string>Japan</string>
		<string>China</string>
		<string>Australia</string>
		<string>Wales</string>
	</array>
	<array>
		<string>Nintendo</string>
		<string>Honda</string>
		<string>Apple</string>
		<string>Microsoft</string>
		<string>Walmart</string>
		<string>Mcdonalds</string>
		<string>Ford</string>
		<string>Chevrolet</string>
		<string>Mercedez</string>
		<string>Intel</string>
	</array>
	<array>
		<string>Rose</string>
		<string>Daisy</string>
		<string>Sakura</string>
	</array>
	<array>
		<string>Apple</string>
		<string>Banana</string>
		<string>Lemon</string>
		<string>Grape</string>
		<string>Strawberry</string>
		<string>Orange</string>
		<string>Peach</string>
		<string>Pear</string>
		<string>Pineapple</string>
		<string>Lime</string>
		<string>Raspberry</string>
	</array>
	<array>
		<string>Yuck</string>
		<string>Ew</string>
		<string>Gross</string>
		<string>Disgusting</string>
	</array>
	<array>
		<string>Yup</string>
		<string>Correct</string>
		<string>Right</string>
		<string>Bullshit</string>
	</array>
	<array>
		<string>Imsonia</string>
		<string>Memento</string>
		<string>Inception</string>
		<string>Matrix</string>
		<string>Hooligans</string>
		<string>Amelie</string>
		<string>Crash</string>
	</array>
	<array>
		<string>Nirvana</string>
		<string>Beatles</string>
		<string>Era</string>
		<string>Toyshop</string>
		<string>XX</string>
		<string>Usher</string>
		<string>Alexia</string>
		<string>Awolnation</string>
		<string>Beyonce</string>
		<string>Cake</string>
		<string>Creed</string>
		<string>Feist</string>
		<string>Hanson</string>
		<string>Lostprophets</string>
	</array>
	<array>
		<string>Sharpener</string>
		<string>Ruler</string>
		<string>Pencil</string>
		<string>Eraser</string>
		<string>Clip</string>
		<string>Pen</string>
		<string>Paper</string>
		<string>Glue</string>
		<string>Scissor</string>
	</array>
	<array>
		<string>Bayern</string>
		<string>Palmeiras</string>
		<string>Corinthians</string>
		<string>Milan</string>
		<string>Juventus</string>
		<string>Manchester</string>
		<string>Fiorentina</string>
		<string>Boca</string>
		<string>River</string>
		<string>Fenerbahce</string>
	</array>
	<array>
		<string>Soccer</string>
		<string>Basketball</string>
		<string>Football</string>
		<string>Volleyball</string>
		<string>Tennis</string>
		<string>Swimming</string>
		<string>Jogging</string>
		<string>Equitation</string>
		<string>Cycling</string>
		<string>Climbing</string>
		<string>Golf</string>
		<string>Baseball</string>
		<string>Running</string>
		<string>Sailing</string>
		<string>Hockey</string>
	</array>
</array>
</plist>
